<a href="https://colab.research.google.com/github/carlosfmorenog/CMM202/blob/master/CMM202_Topic_5/CMM202_T5_Lab_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMM202 Topic 5 Lab (Solved)

In [ ]:
import pandas as pd

## Part 1: Melting

Load the datasets `treatment1.csv` and `treatment2.csv` into variables `treatment1` and `treatment2`

On both cases, use `index_col=0`

In [ ]:
url = 'https://www.dropbox.com/s/2jwaazsff3o2wv7/treatment1.csv?raw=1'
treatment1 = pd.read_csv(url, index_col=0)
treatment1

              treatmenta  treatmentb
John Smith           NaN           2
Jane Doe            16.0          11
Mary Johnson         3.0           1

In [ ]:
url = 'https://www.dropbox.com/s/e0g6ocqbdb73czu/treatment2.csv?raw=1'
treatment2 = pd.read_csv(url, index_col=0)
treatment2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN        16             3
treatmentb         2.0        11             1

**Q. What do you notice is the same between these two datasets?**

Answer: They are the same data, but transposed (i.e. columns and rows are exchanged)

**Q. How many observations are there in these datasets?**

Answer: There are 5 observations if we exclude the null value

Reset the index on `treatment1` so that it now has default indexing, keeping the old index as a column called `patient`

In [ ]:
treatment1 = treatment1.reset_index().rename(columns={'index':'patient'})
treatment1

        patient  treatmenta  treatmentb
0    John Smith         NaN           2
1      Jane Doe        16.0          11
2  Mary Johnson         3.0           1

Melt the `treatment1` dataset, and remove the null entry

Make sure you have a table which looks like this (check column headings and data types):

|    | patient      | treatment  | reading |
| -: | :----------- | :--------- | ------: |
|  0 | Jane Doe     | treatmenta |      16 |
|  1 | Mary Johnson | treatmenta |       3 |
|  2 | John Smith   | treatmentb |       2 |
|  3 | Jane Doe     | treatmentb |      11 |
|  4 | Mary Johnson | treatmentb |       1 |

In [ ]:
treatment1 = treatment1.melt(id_vars='patient', var_name='treatment', value_name='reading')
treatment1 = treatment1[treatment1['reading'].notnull()]
treatment1 = treatment1.astype({'reading' : 'int64'})
treatment1 = treatment1.reset_index(drop=True)
treatment1

        patient   treatment  reading
0      Jane Doe  treatmenta       16
1  Mary Johnson  treatmenta        3
2    John Smith  treatmentb        2
3      Jane Doe  treatmentb       11
4  Mary Johnson  treatmentb        1

**Q. If we had done the same transformation to `treatment2`, how would the result differ?**

Answer: the data would be the same, although the columns my appear in a different order

## Part 2: Pivoting

The `gdp.csv` dataset shows the gross domestic product (GDP) of counties over time

Load this dataset, use default indexing

In [ ]:
url = 'https://www.dropbox.com/s/hzj430f7b0s094y/gdp.csv?raw=1'
gdp = pd.read_csv(url)
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.505888e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.691827e+09,6.499936e+09,7.071960e+09,7.386891e+09,6.440612e+09,6.714712e+09,7.227765e+09,7.900269e+09,NaN,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.164170e+11,3.963294e+11,3.666449e+11,3.506376e+11,3.174156e+11,2.963409e+11,3.492681e+11,3.682882e+11,NaN,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN,NaN

Note that this is a very wide data set with 65 columns

The year of the data is stored in each column

Where data is unavailable for the year and country, the entry is missing (`NaN`)

For this exercise, we don't need `'Country Code'`, `'Indicator Name'`, `'Indicator Code'`, or the unnamed column `'Unnamed: 64'`

Remove these from the dataset, so that only the GDP are shown

We only need to keep `'Country name'` and the year-numbered columns

In [ ]:
gdp.drop(columns={'Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 64'}, inplace=True)
gdp

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.505888e+10,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830464e+09,6.691827e+09,6.499936e+09,7.071960e+09,7.386891e+09,6.440612e+09,6.714712e+09,7.227765e+09,7.900269e+09,NaN
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,3.753483e+11,4.164170e+11,3.963294e+11,3.666449e+11,3.506376e+11,3.174156e+11,2.963409e+11,3.492681e+11,3.682882e+11,NaN
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

Convert the data set to long format with columns `'Country Name'`, `'Year'`, and `'GDP'`

Here is an example of the first three rows of the data

|    | Country Name | Year |          GDP |
| -: | :----------- | ---: | -----------: |
| 0  | Aruba        | 1960 |          NaN |
| 1  | Afghanistan  | 1960 | 5.377778e+08 |
| 2  | Angola       | 1960 |          NaN |

In [ ]:
gdp = gdp.melt(id_vars = ['Country Name'],
               var_name = 'Year',
               value_name = 'GDP')
gdp

       Country Name  Year           GDP
0             Aruba  1960           NaN
1       Afghanistan  1960  5.377778e+08
2            Angola  1960           NaN
3           Albania  1960           NaN
4           Andorra  1960           NaN
...             ...   ...           ...
15835        Kosovo  2019           NaN
15836   Yemen, Rep.  2019           NaN
15837  South Africa  2019           NaN
15838        Zambia  2019           NaN
15839      Zimbabwe  2019           NaN

[15840 rows x 3 columns]

Remove the null entries in the dataset

In [ ]:
gdp = gdp[gdp['GDP'].notnull()]
gdp

       Country Name  Year           GDP
1       Afghanistan  1960  5.377778e+08
11        Australia  1960  1.857767e+10
12          Austria  1960  6.592694e+09
14          Burundi  1960  1.960000e+08
15          Belgium  1960  1.165872e+10
...             ...   ...           ...
15571        Kosovo  2018  7.900269e+09
15572   Yemen, Rep.  2018  2.691440e+10
15573  South Africa  2018  3.682882e+11
15574        Zambia  2018  2.672007e+10
15575      Zimbabwe  2018  3.100052e+10

[12089 rows x 3 columns]

**Q. How many observations do we have in the data set?**

Answer: 12089

Create a new dataframe in a variable `uk`, which contains the GDP for only the United Kingdom, with `'Year'` as the index

Since the numbers are quite large, divide by `1_000_000_000_000` (one trillion), and round to 3 decimal places

Display the most recent $5$ years available in the data, as follows:

|     Year | GDP (Trillion USD) |
| -------: | -----------------: |
| **2014** |              3.035 |
| **2015** |              2.896 |
| **2016** |              2.659 |
| **2017** |              2.638 |
| **2018** |              2.825 |

In [ ]:
uk = gdp[gdp['Country Name'] == 'United Kingdom']
uk = uk.drop(columns=['Country Name'])
uk = uk.set_index('Year')
uk['GDP (Trillion USD)'] = (uk['GDP'] / 1_000_000_000_000).round(3)
uk = uk.drop(columns={'GDP'})
uk.tail(5)

      GDP (Trillion USD)
Year
2014               3.035
2015               2.896
2016               2.659
2017               2.638
2018               2.825

Let's go back to the original dataframe `gdp`

You should have this data set now in the "long" format

Change the table back to the wide format using `pivot`, this time instead of having a column for each `Year`, have a column for each `Country`, the `Year` will be the rows

In [ ]:
gdp.pivot(index='Year', columns='Country Name', values='GDP')

Country Name,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Arab World,Argentina,Armenia,...,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,Virgin Islands (U.S.),West Bank and Gaza,World,"Yemen, Rep.",Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,5.377778e+08,NaN,2.723649e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.779091e+09,NaN,NaN,NaN,1.370773e+12,NaN,7.130000e+08,1.052990e+09
1961,5.488889e+08,NaN,2.434777e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.189091e+09,NaN,NaN,NaN,1.428243e+12,NaN,6.962857e+08,1.096647e+09
1962,5.466667e+08,NaN,2.001469e+09,NaN,NaN,NaN,NaN,NaN,2.445060e+10,NaN,...,NaN,NaN,8.946970e+09,NaN,NaN,NaN,1.533429e+12,NaN,6.931429e+08,1.117602e+09
1963,7.511112e+08,NaN,2.703015e+09,NaN,NaN,NaN,NaN,NaN,1.827212e+10,NaN,...,NaN,NaN,9.753333e+09,NaN,NaN,NaN,1.651254e+12,NaN,7.187143e+08,1.159512e+09
1964,8.000000e+08,NaN,2.909352e+09,NaN,NaN,NaN,NaN,NaN,2.560525e+10,NaN,...,NaN,NaN,8.099318e+09,NaN,NaN,NaN,1.809567e+12,NaN,8.394286e+08,1.217138e+09
1965,1.006667e+09,NaN,3.136259e+09,NaN,NaN,NaN,NaN,NaN,2.834471e+10,NaN,...,NaN,NaN,8.427778e+09,NaN,NaN,NaN,1.970263e+12,NaN,1.082857e+09,1.311436e+09
1966,1.400000e+09,NaN,3.039835e+09,NaN,NaN,NaN,NaN,NaN,2.863047e+10,NaN,...,NaN,NaN,8.781333e+09,NaN,NaN,NaN,2.137443e+12,NaN,1.264286e+09,1.281750e+09
1967,1.673333e+09,NaN,3.370843e+09,NaN,NaN,NaN,NaN,NaN,2.425667e+10,NaN,...,NaN,NaN,9.250000e+09,NaN,NaN,NaN,2.274766e+12,NaN,1.368000e+09,1.397002e+09
1968,1.373333e+09,NaN,3.852116e+09,NaN,NaN,NaN,NaN,2.580042e+10,2.643686e+10,NaN,...,NaN,NaN,1.003444e+10,NaN,NaN,NaN,2.454040e+12,NaN,1.605857e+09,1.479600e+09
1969,1.408889e+09,NaN,4.257219e+09,NaN,NaN,NaN,NaN,2.834252e+10,3.125628e+10,NaN,...,NaN,NaN,1.028511e+10,NaN,NaN,NaN,2.702384e+12,NaN,1.965714e+09,1.747999e+09
1970,1.748887e+09,NaN,4.863487e+09,NaN,7.861921e+07,NaN,NaN,3.192243e+10,3.158421e+10,NaN,...,NaN,NaN,1.156111e+10,NaN,NaN,NaN,2.967134e+12,NaN,1.825286e+09,1.884206e+09
1971,1.831109e+09,NaN,5.077222e+09,NaN,8.940982e+07,NaN,NaN,3.694629e+10,3.329320e+10,NaN,...,NaN,NaN,1.298659e+10,NaN,NaN,NaN,3.277474e+12,NaN,1.687000e+09,2.178716e+09
1972,1.595555e+09,NaN,6.761786e+09,NaN,1.134082e+08,NaN,NaN,4.406676e+10,3.473300e+10,NaN,...,NaN,NaN,1.397773e+10,NaN,NaN,NaN,3.780008e+12,NaN,1.910714e+09,2.677729e+09
1973,1.733333e+09,NaN,8.715106e+09,NaN,1.508201e+08,NaN,NaN,5.577659e+10,5.254400e+10,NaN,...,NaN,NaN,1.703558e+10,NaN,NaN,NaN,4.607296e+12,NaN,2.268714e+09,3.309354e+09
1974,2.155555e+09,NaN,1.320971e+10,NaN,1.865587e+08,NaN,NaN,1.055275e+11,7.243678e+10,NaN,...,NaN,NaN,2.610093e+10,NaN,NaN,NaN,5.313812e+12,NaN,3.121833e+09,3.982161e+09
1975,2.366667e+09,NaN,1.555793e+10,NaN,2.201272e+08,NaN,NaN,1.168928e+11,5.243865e+10,NaN,...,NaN,NaN,2.746465e+10,NaN,NaN,NaN,5.916138e+12,NaN,2.618667e+09,4.371301e+09
1976,2.555556e+09,NaN,1.772835e+10,NaN,2.272810e+08,NaN,NaN,1.452488e+11,5.116950e+10,NaN,...,NaN,NaN,3.141953e+10,NaN,NaN,NaN,6.436619e+12,NaN,2.746714e+09,4.318372e+09
1977,2.953333e+09,NaN,2.097190e+10,NaN,2.540202e+08,NaN,7.749675e+07,1.672824e+11,5.678100e+10,NaN,...,NaN,NaN,3.621070e+10,NaN,NaN,NaN,7.280009e+12,NaN,2.483000e+09,4.364382e+09
1978,3.300000e+09,NaN,2.636449e+10,NaN,3.080089e+08,NaN,8.787934e+07,1.837162e+11,5.808287e+10,NaN,...,NaN,NaN,3.931628e+10,NaN,NaN,NaN,8.570951e+12,NaN,2.813375e+09,4.351600e+09
1979,3.697940e+09,NaN,3.324342e+10,NaN,4.115783e+08,NaN,1.090800e+08,2.486630e+11,6.925233e+10,NaN,...,NaN,1.192588e+08,4.831093e+10,NaN,NaN,NaN,9.958993e+12,NaN,3.325500e+09,5.177459e+09
1980,3.641723e+09,NaN,4.234528e+10,NaN,4.464161e+08,5.930503e+09,1.314310e+08,3.371941e+11,7.696192e+10,NaN,...,NaN,1.134232e+08,5.911651e+10,NaN,NaN,NaN,1.121965e+13,NaN,3.829500e+09,6.678868e+09
1981,3.478788e+09,NaN,4.434867e+10,NaN,3.889587e+08,5.550483e+09,1.478417e+08,3.476415e+11,7.867684e+10,NaN,...,NaN,9.874641e+07,6.632744e+10,NaN,NaN,NaN,1.161655e+13,NaN,3.872667e+09,8.011374e+09
1982,NaN,NaN,4.520709e+10,NaN,3.758960e+08,5.550483e+09,1.643693e+08,3.261004e+11,8.430749e+10,NaN,...,NaN,9.814464e+07,6.773674e+10,NaN,NaN,NaN,1.150742e+13,NaN,3.994778e+09,8.539701e+09
1983,NaN,NaN,4.880137e+10,NaN,3.278618e+08,5.784342e+09,1.821441e+08,3.063420e+11,1.039791e+11,NaN,...,NaN,1.101238e+08,6.755628e+10,NaN,NaN,NaN,1.173958e+13,NaN,3.216308e+09,7.764067e+09
1984,NaN,1.857338e+09,5.369828e+10,NaN,3.300707e+08,6.131475e+09,2.083728e+08,3.107483e+11,7.909200e+10,NaN,...,NaN,1.355538e+08,6.001029e+10,NaN,NaN,NaN,1.217263e+13,NaN,2.739444e+09,6.352126e+09
1985,NaN,1.897050e+09,5.793787e+10,NaN,3.467380e+08,7.553560e+09,2.409239e+08,3.075980e+11,8.841667e+10,NaN,...,NaN,1.236985e+08,6.196547e+10,1.409469e+10,NaN,NaN,1.278687e+13,NaN,2.281258e+09,5.637259e+09
1986,NaN,2.097326e+09,6.369630e+10,NaN,4.820006e+08,7.072063e+09,2.904401e+08,2.936235e+11,1.109344e+11,NaN,...,NaN,1.186914e+08,6.039160e+10,2.633662e+10,NaN,NaN,1.510952e+13,NaN,1.661949e+09,6.217524e+09
1987,NaN,2.080796e+09,6.674227e+10,NaN,6.113164e+08,8.083872e+09,3.371749e+08,3.130402e+11,1.111062e+11,NaN,...,NaN,1.308341e+08,4.802903e+10,3.665811e+10,NaN,NaN,1.718632e+13,NaN,2.269895e+09,6.741215e+09
1988,NaN,2.051236e+09,5.908907e+10,NaN,7.214259e+08,8.769251e+09,3.986377e+08,3.078891e+11,1.262068e+11,NaN,...,NaN,1.485454e+08,6.022641e+10,2.542381e+10,NaN,NaN,1.922667e+13,NaN,3.713614e+09,7.814784e+09
1989,NaN,2.253090e+09,5.563149e+10,NaN,7.954493e+08,1.020110e+10,4.387948e+08,3.228595e+11,7.663690e+10,NaN,...,NaN,1.444822e+08,4.352625e+10,6.293305e+09,NaN,NaN,2.006892e+13,NaN,3.998638e+09,8.286323e+09
1990,NaN,2.028554e+09,6.204510e+10,NaN,1.029048e+09,1.122876e+10,4.594691e+08,4.469017e+11,1.413524e+11,2.256839e+09,...,1.336061e+10,1.583974e+08,4.859832e+10,6.471741e+09,NaN,NaN,2.260321e+13,5.647119e+09,3.285217e+09,8.783817e+09
1991,NaN,1.099559e+09,4.571537e+10,NaN,1.106929e+09,1.060378e+10,4.817063e+08,4.406494e+11,1.897200e+11,2.068527e+09,...,1.367762e+10,1.888700e+08,5.347697e+10,9.613370e+09,NaN,NaN,2.394238e+13,5.930370e+09,3.378882e+09,8.641482e+09
1992,NaN,6.521750e+08,4.800330e+10,NaN,1.210014e+09,8.307811e+09,4.992811e+08,4.716716e+11,2.287886e+11,1.272577e+09,...,1.294130e+10,1.961426e+08,6.040180e+10,9.866990e+09,NaN,NaN,2.542586e+13,6.463650e+09,3.181922e+09,6.751472e+09
1993,NaN,1.185315e+09,4.994646e+10,NaN,1.007026e+09,5.768720e+09,5.351728e+08,4.771340e+11,2.367417e+11,1.201313e+09,...,1.309901e+10,1.880804e+08,6.006501e+10,1.318095e+10,NaN,NaN,2.583820e+13,5.368271e+09,3.273238e+09,6.563813e+09
1994,NaN,1.880952e+09,4.254257e+10,NaN,1.017549e+09,4.438321e+09,5.894296e+08,4.876617e+11,2.574400e+11,1.315159e+09,...,1.289916e+10,2.192603e+08,5.841867e+10,1.628643e+10,NaN,2.843300e+09,2.775309e+13,4.167356e+09,3.656648e+09,6.890675e+09
1995,NaN,2.392765e+09,4.176405e+10,NaN,1.178739e+09,5.538749e+09,5.772807e+08,5.239290e+11,2.580318e+11,1.468317e+09,...,1.335047e+10,2.339021e+08,7.740773e+10,2.073616e+10,NaN,3.282800e+09,3.086511e+13,4.258789e+09,3.807067e+09,7.111271e+09
1996,NaN,3.199643e+09,4.694150e+10,NaN,1.223945e+09,7.526447e+09,6.337306e+08,5.783988e+11,2.721498e+11,1.596969e+09,...,1.394889e+10,2.451776e+08,7.054321e+10,2.465747e+10,NaN,3.409600e+09,3.154941e+13,5.785685e+09,3.597221e+09,8.553147e+09
1997,NaN,2.258516e+09,4.817786e+10,NaN,1.180597e+09,7.648377e+09,6.806171e+08,6.134324e+11,2.928590e+11,1.639492e+09,...,1.474460e+10,2.558902e+08,8.584353e+10,2.684370e+10,NaN,3.759800e+09,3.143599e+13,6.838557e+09,4.303282e+09,8.529572e+09
1998,NaN,2.545967e+09,4.818775e+10,NaN,1.211932e+09,6.506230e+09,7.278606e+08,5.916816e+11,2.989482e+11,1.893726e+09,...,1.498897e+10,2.623013e+08,9.133120e+10,2.720960e+10,NaN,4.067800e+09,3.136731e+13,6.325142e+09,3.537683e+09,6.401968e+09
1999,NaN,3.212119e+09,4.864057e+10,NaN,1.239876e+09,6.152923e+09,7.661989e+08,6.440507e+11,2.835230e+11,1.845482e+09,...,1.707847e+10,2.679992e+08,9.797689e+10,2.868366e+10,NaN,4.271200e+09,3.252937e+13,7.641103e+09,3.404312e+09,6.858013e+09
2000,NaN,3.480355e+09,5.479025e+10,NaN,1.434430e+09,9.129595e+09,8.301588e+08,7.351881e+11,2.842038e+11,1.911564e+09,...,1.376051e+10,2.720147e+08,1.171407e+11,3.117252e+10,NaN,4.313600e+09,3.358157e+13,9.652436e+09,3.600683e+09,6.689958e+09
2001,NaN,3.922099e+09,5.474471e+10,NaN,1.496913e+09,8.936064e+09,8.007403e+08,7.234491e+11,2.686968e+11,2.118468e+09,...,1.140142e+10,2.579269e+08,1.229040e+11,3.268520e+10,NaN,4.003700e+09,3.338242e+13,9.861560e+09,4.094481e+09,6.777385e+09
2002,4.055177e+09,4.348070e+09,5.676029e+10,514000000.0,1.733117e+09,1.528559e+10,8.146153e+08,7.292314e+11,9.772400e+10,2.376335e+09,...,9.687789e+09,2.626038e+08,9.289359e+10,3.506411e+10,3.269000e+09,3.555800e+09,3.466930e+13,1.069463e+10,4.193846e+09,6.342116e+09
2003,4.515563e+09,5.611492e+09,6.786383e+10,527000000.0,2.398646e+09,1.781271e+10,8.556431e+08,8.233413e+11,1.275870e+11,2.807061e+09,...,1.013445e+10,3.144631e+08,8.362063e+10,3.955251e+10,3.453000e+09,3.968000e+09,3.889990e+13,1.177797e+10,4.901840e+09,5.727592e+09
2004,5.226775e+09,7.184681e+09,8.532500e+10,512000000.0,2.935659e+09,2.355205e+10,9.195771e+08,9.643273e+11,1.646579e+11,3.576615e+09,...,1.203002e+10,3.649969e+08,1.124534e+11,4.542785e+10,3.799000e+09,4.329200e+09,4.381177e+13,1.387279e+10,6.221078e+09,5.805598e+09
2005,6.209140e+09,8.052076e+09,1.031982e+11,503000000.0,3.255789e+09,3.697092e+10,1.022191e+09,1.185143e+12,1.987371e+11,4.900470e+09,...,1.430751e+10,3.949626e+08,1.455100e+11,5.763326e+10,4.439000e+09,4.831800e+09,4.745906e+13,1.674634e+10,8.331870e+09,5.755215e+09
2006,6.971287e+09,8.896074e+09,1.170273e+11,496000000.0,3.543257e+09,5.238101e+10,1.157005e+09,1.404653e+12,2.325573e+11,6.384452e+09,...,1.733083e+10,4.393768e+08,1.834775e+11,6.637166e+10,4.504000e+09,4.910100e+09,5.144268e+13,1.906198e+10,1.275686e+10,5.443896e+09
2007,9.747886e+09,1.067732e+10,1.349771e+11,520000000.0,4.016972e+09,6.526645e+10,1.311401e+09,1.638214e+12,2.875305e+11,9.206302e+09,...,2.231139e+10,5.264283e+08,2.303640e+11,7.741443e+10,4.803000e+09,5.505800e+09,5.796874e+13,2.165053e+10,1.405696e+10,5.291950e+09
2008,1.010922e+10,1.288135e+10,1.710007e+11,563000000.0,4.007353e+09,8.853861e+10,1.368431e+09,2.078824e+12,3.615580e+11,1.166204e+10,...,2.954944e+10,6.079586e+08,3.159534e+11,9.913030e+10,4.250000e+09,6.673500e+09,6.361607e+13,2.691085e+10,1.791086e+10,4.415703e+09
2009,1.243909e+10,1.204421e+10,1.372110e+11,678000000.0,3.660531e+09,7.030716e+10,1.224253e+09,1.796359e+12,3.329765e+11,8.647937e+09,...,3.368922e+10,6.100666e+08,3.297876e+11,1.060147e+11,4.203000e+09,7.268200e+09,6.034007e+13,2.513027e+10,1.532834e+10,9.665793e+09
2010,1.585657e+10,1.192695e+10,1.612073e+11,576000000.0,3.355695e+09,8.379950e+10,1.152469e+09,2.110062e+12,4.236274e+11,9.260285e+09,...,3.933277e+10,7.008043e+08,3.931924e+11,1.159317e+11,4.339000e+09,8.913100e+09,6.603693e+13,3.090675e+10,2.026556e+10,1.204166e+10
2011,1.780428e+10,1.289087e+10,2.000191e+11,574000000.0,3.442063e+09,1.117897e+11,1.142043e+09,2.501834e+12,5.301633e+11,1.014211e+10,...,4.591519e+10,7.921497e+08,3.164822e+11,1.355394e+11,4.239000e+09,1.046540e+10,7.335742e+13,3.272642e+10,2.346010e+10,1.410192e+10
2012,2.000162e+10,1.231978e+10,2.090590e+11,644000000.0,3.164615e+09,1.280529e+11,1.211412e+09,2.787006e+12,5.459824e+11,1.061932e+10,...,5.182157e+10,7.817029e+08,3.812862e+11,1.558200e+11,4.095000e+09,1.127940e+10,7.504565e+13,3.540134e+10,2.550337e+10,1.711485e+10
2013,2.056105e+10,1.277628e+10,2.097550e+11,641000000.0,3.281585e+09,1.367099e+11,1.192920e+09,2.867265e+12,5.520251e+11,1.112147e+10,...,5.769077e+10,8.017876e+08,3.710054e+11,1.712220e+11,3.762000e+09,1.247600e+10,7.718961e+13,4.041523e+10,2.804546e+10,1.909102e+10
2014,2.048487e+10,1.322825e+10,2.138100e+11,643000000.0,3.350736e+09,1.457122e+11,1.275577e+09,2.908360e+12,5.263197e+11,1.160951e+10,...,7.665854e+10,8.149543e+08,4.823593e+11,1.862047e+11,3.622000e+09,1.271560e+10,7.929611e+13,4.322859e+10,2.715063e+10,1.949552e+10
2015,1.990711e+10,1.138693e+10,1.659793e+11,661000000.0,2.811489e+09,1.161936e+11,1.359195e+09,2.557990e+12,5.947493e+11,1.055334e+10,...,8.184741e+10,7.379172e+08,NaN,1.932411e+11,3.748000e+09,1.267300e+10,7.500307e+13,4.262833e+10,2.115439e+10,1.996312e+10
2016,1.936264e+10,1.186135e+10,1.601299e+11,653000000.0,2.877312e+09,1.011239e+11,1.464630e+09,2.506119e+12,5.575314e+11,1.054614e+10,...,8.177902e+10,7.879426e+08,NaN,2.052762e+11,3.863000e+09,1.342570e+10,7.610283e+13,3.096824e+10,2.095475e+10,2.054868e+10
2017,2.019176e+10,1.302506e+10,1.675553e+11,634000000.0,3.013387e+09,1.221238e+11,1.510085e+09,2.588874e+12,6.426959e+11,1.152746e+10,...,5.915995e+10,8.497083e+08,NaN,2.237799e+11,3.855000e+09,1.449810e+10,8.089134e+13,2.681870e+10,2.586814e+10,2.281301e+10
2018,1.936297e+10,1.505888e+10,1.806891e+11,NaN,3.236544e+09,1.057510e+11,1.623804e+09,2.781589e+12,5.184751e+11,1.243309e+10,...,5.049992e+10,8.878179e+08,NaN,2.449484e+11,NaN,1.461590e+10,8.580439e+13,2.691440e+10,2.672007e+10,3.100052e+10

**Q. What is the shape of this data frame?**

Answer: 59 rows × 258 columns

Returning again to the long version of the dataset, use `pivot_table` to find the maximum (`max`) GDP for each country (the highest the GDP has ever been in the recorded data)

Store this in a variable called `highest_ever`

Should look something like this


| Country Name |          GDP |
| :----------- | -----------: |
| Afghanistan  | 2.056105e+10 |
| Albania      | 1.505888e+10 |
| Algeria      | 2.138100e+11 |

*Hint: Do not specify a `columns=` parameter, since we want only a single column.*

In [ ]:
highest_ever = gdp.pivot_table(index='Country Name', values='GDP', aggfunc='max')
highest_ever

                             GDP
Country Name
Afghanistan         2.056105e+10
Albania             1.505888e+10
Algeria             2.138100e+11
American Samoa      6.780000e+08
Andorra             4.016972e+09
...                          ...
West Bank and Gaza  1.461590e+10
World               8.580439e+13
Yemen, Rep.         4.322859e+10
Zambia              2.804546e+10
Zimbabwe            3.100052e+10

[258 rows x 1 columns]

**Q. Which country has had the highest ever GDP?**

*Hint: The dataset contains entries which are not countries, e.g. `World` or `High income`. If you display the first 20 rows after sorting, you should be able to find the answer.*

In [ ]:
highest_ever.sort_values('GDP', ascending=False).head(20)

                                                      GDP
Country Name
World                                        8.580439e+13
High income                                  5.411879e+13
OECD members                                 5.261014e+13
Post-demographic dividend                    5.002770e+13
IDA & IBRD total                             3.267245e+13
Low & middle income                          3.171682e+13
Middle income                                3.114302e+13
IBRD only                                    3.046677e+13
East Asia & Pacific                          2.591829e+13
Upper middle income                          2.443513e+13
Europe & Central Asia                        2.370681e+13
North America                                2.221325e+13
Late-demographic dividend                    2.217029e+13
United States                                2.049410e+13
European Union                               1.916362e+13
East Asia & Pacific (excluding high income)  1.628000e+13
East Asia & Pacific (IDA & IBRD countries)   1.624877e+13
Euro area                                    1.412488e+13
China                                        1.360815e+13
Early-demographic dividend                   1.163883e+13

Answer: United States

**Extra Question: Is there any way in which we can better filter this dataset to look for countries instead of regions?**

Answer: One idea is to define a dictionary of countries and filter out entries from the `highest_ever` dataframe. Another option is that if we find a list of questions on a csv online, we can import it and then do a join between both tables so that the left is this list, and the right is `highest_ever`. If we do a left join, then only countries will remain!