<a href="https://colab.research.google.com/github/carlosfmorenog/CMM202/blob/master/CMM202_Topic_2/CMM202_T2_Lab_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CMM202 Topic 2 Lab (Solved)

In [ ]:
import pandas as pd

For this lab, we will be importing the data set `films.csv`

In [ ]:
films = pd.read_csv('https://www.dropbox.com/s/dzejj5dws824cc2/films.csv?raw=1'
                    ,index_col=0)

Use Pandas' `read_csv` function, specifying column `0` as the index column. This column is the `imdb_id`, a unique identifier assigned by the Internet Movie Database (IMDB)

Store the dataframe into an appropriately named value, such as `films` or another name of your choice

Use `head` to show the first `3` rows

In [ ]:
films.head(3)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

You should see that the index of these rows is `tt0000417`, `tt0000439`, and `tt0006206`

In this data set we will only be using a few columns:

- `imdb_id` is the unique index of the film in the *Internet Movie DataBase*
- `title` is the title of the film
- `year` is the year the film was released
- `imdb_votes` is the number of rating the film has received from users.

Check that you get the same result by using `iloc` with a numerical range `0:3`

In [ ]:
films.iloc[0:3]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

Use 'loc' with a range to retrieve the same three rows

In [ ]:
films.loc['tt0000417':'tt0006206']

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

Get a random sampling of `5` films to display in the notebook

In [ ]:
films.sample(5)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0243255,NaN,NaN,NaN,NaN,NaN,True,Fat Girl,2001,UNRATED,7-Mar-01,86,Drama,Catherine Breillat,Catherine Breillat,"French, Italian, English","France, Italy",4 wins & 3 nominations.,77.0,6.5,8151
tt0449059,NaN,NaN,NaN,NaN,NaN,True,Little Miss Sunshine,2006,R,18-Aug-06,101,"Comedy, Drama","Jonathan Dayton, Valerie Faris",Michael Arndt,English,USA,Won 2 Oscars. Another 68 wins & 104 nominations.,80.0,7.9,357753
tt0119711,NaN,NaN,NaN,NaN,NaN,True,Mother and Son,1997,NaN,6-Feb-98,73,Drama,Aleksandr Sokurov,Yuriy Arabov,Russian,"Russia, Germany",4 wins & 4 nominations.,NaN,7.6,2852
tt0063671,NaN,NaN,NaN,NaN,NaN,True,Targets,1968,R,15-Aug-68,90,Thriller,Peter Bogdanovich,"Peter Bogdanovich (screenplay), Polly Platt (s...",English,USA,NaN,NaN,7.4,6086
tt0088258,NaN,NaN,NaN,NaN,True,True,This Is Spinal Tap,1984,R,2-Mar-84,82,"Comedy, Music",Rob Reiner,"Christopher Guest, Michael McKean, Harry Shear...",English,USA,2 wins & 2 nominations.,85.0,8.0,0

Re-run the cell a few times to check that it is randomly choosing each time

**Q. Which film has the index `tt0435761`?**

In [ ]:
films.loc['tt0435761']

rank_afc_2007                                                              NaN
rank_afc_1998                                                              NaN
rank_wga_2005                                                              NaN
rank_ss_2012                                                               NaN
included_in_guardian_list                                                  NaN
included_in_1001_book                                                     True
title                                                              Toy Story 3
year                                                                      2010
rated                                                                        G
released                                                             18-Jun-10
runtime                                                                    103
genre                                             Animation, Adventure, Comedy
director                                                           Lee Unkrich
writer                       John Lasseter (story by), Andrew Stanton (stor...
language                                                      English, Spanish
country                                                                    USA
awards                         Won 2 Oscars. Another 58 wins & 89 nominations.
metascore                                                                   92
imdb_rating                                                                8.3
imdb_votes                                                              549330
Name: tt0435761, dtype: object

Answer: Toy Story 3

Display a `DataFrame` containing only films `tt0015361` and `tt0059817`

In [ ]:
films.loc[['tt0015361', 'tt0059817']]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0015361,NaN,NaN,NaN,NaN,NaN,True,Strike,1925,NOT RATED,NaN,82,Drama,Sergei M. Eisenstein,"Grigori Aleksandrov, Sergei M. Eisenstein, Ily...",NaN,Soviet Union,NaN,NaN,7.6,4904
tt0059817,NaN,NaN,NaN,NaN,NaN,True,Tokyo Olympiad,1965,NOT RATED,28-Jul-65,93,"Documentary, Sport",Kon Ichikawa,"Kon Ichikawa, Yoshio Shirasaka, Shuntar_´ Tani...",Japanese,Japan,4 wins & 2 nominations.,NaN,8.0,1094

**Q. Which two films are these?**

Answer: Strike and Tokyo Olympiad

Using `iloc`, display a dataframe containing only rows indexed `57`, `79`, and `190`

In [ ]:
films.iloc[[57, 79, 190]]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0022100,NaN,NaN,NaN,NaN,NaN,True,M,1931,NOT RATED,31-Aug-31,99,"Crime, Drama, Mystery",Fritz Lang,"Thea von Harbou (script), Fritz Lang (script)",German,Germany,2 wins.,NaN,8.4,99611
tt0024028,NaN,NaN,NaN,NaN,NaN,True,Footlight Parade,1933,G,21-Oct-33,104,"Comedy, Musical, Romance",Lloyd Bacon,"Manuel Seff (screen play), James Seymour (scre...","English, French",USA,1 win.,NaN,7.8,3367
tt0038890,NaN,NaN,NaN,NaN,True,True,"Rome, Open City",1945,APPROVED,27-Sep-45,103,"Drama, Thriller, War",Roberto Rossellini,"Sergio Amidei (screenplay), Federico Fellini (...","German, Italian, Latin",Italy,Nominated for 1 Oscar. Another 7 wins.,NaN,8.1,16080

Using `loc`, display the same three films

In [ ]:
films.loc[['tt0022100', 'tt0024028', 'tt0038890']]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0022100,NaN,NaN,NaN,NaN,NaN,True,M,1931,NOT RATED,31-Aug-31,99,"Crime, Drama, Mystery",Fritz Lang,"Thea von Harbou (script), Fritz Lang (script)",German,Germany,2 wins.,NaN,8.4,99611
tt0024028,NaN,NaN,NaN,NaN,NaN,True,Footlight Parade,1933,G,21-Oct-33,104,"Comedy, Musical, Romance",Lloyd Bacon,"Manuel Seff (screen play), James Seymour (scre...","English, French",USA,1 win.,NaN,7.8,3367
tt0038890,NaN,NaN,NaN,NaN,True,True,"Rome, Open City",1945,APPROVED,27-Sep-45,103,"Drama, Thriller, War",Roberto Rossellini,"Sergio Amidei (screenplay), Federico Fellini (...","German, Italian, Latin",Italy,Nominated for 1 Oscar. Another 7 wins.,NaN,8.1,16080

Create a dataframe containing all films in the data set where the `year` is `2000` or later

Store this new dataset in a new variable called `films2k`

In [ ]:
films2k = films[films['year'] >= 2000]

**Q. How many films from this data set are from `2000` or later?**

In [ ]:
len(films2k)

206

Answer: 206

**Q. What is the median (`50%`) `runtime` of the films in the data set from the year 2000 onwards?**

Hint: you can use the `describe` function to see the statistics of a dataframe

In [ ]:
films2k.describe()

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,year,runtime,metascore,imdb_rating,imdb_votes
count,1.0,0.0,3.000000,2.000000,206.000000,206.000000,202.000000,206.000000,2.060000e+02
mean,50.0,NaN,89.000000,26.000000,2007.368932,121.310680,80.980198,7.720388,2.546437e+05
std,NaN,NaN,11.532563,2.828427,5.003395,29.785093,9.509859,0.509013,2.916283e+05
min,50.0,NaN,77.000000,24.000000,2000.000000,80.000000,47.000000,5.900000,1.200000e+01
25%,50.0,NaN,83.500000,25.000000,2003.000000,102.000000,74.250000,7.400000,3.857050e+04
50%,50.0,NaN,90.000000,26.000000,2007.000000,118.000000,82.000000,7.700000,1.525265e+05
75%,50.0,NaN,95.000000,27.000000,2012.000000,134.000000,88.000000,8.000000,3.637630e+05
max,50.0,NaN,100.000000,28.000000,2016.000000,383.000000,100.000000,9.000000,1.699835e+06

Answer: 118 minutes

**Q. What is the median `runtime` for films between the years 1990 and 1999 in the films data set?**

In [ ]:
films90s = films[(films['year'] >= 1990) & (films['year'] < 2000)]
films90s.describe()

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,year,runtime,metascore,imdb_rating,imdb_votes
count,11.000000,8.000000,17.000000,2.000000,165.000000,165.000000,117.000000,165.000000,1.650000e+02
mean,75.090909,73.875000,46.470588,38.500000,1994.551515,123.139394,76.726496,7.665455,1.921053e+05
std,24.598596,28.866379,20.877972,4.949747,2.905852,40.977968,10.430909,0.573038,3.128316e+05
min,8.000000,9.000000,16.000000,35.000000,1990.000000,73.000000,47.000000,6.100000,1.820000e+02
25%,71.500000,69.500000,30.000000,36.750000,1992.000000,100.000000,69.000000,7.300000,1.371500e+04
50%,76.000000,79.500000,41.000000,38.500000,1995.000000,112.000000,77.000000,7.700000,5.055800e+04
75%,90.500000,94.250000,61.000000,40.250000,1997.000000,134.000000,85.000000,8.100000,1.914860e+05
max,99.000000,98.000000,89.000000,42.000000,1999.000000,450.000000,100.000000,9.300000,1.711064e+06

Answer: 112 minutes

Create a dataframe of 90's films, sorted by `title`, in the variable `films90s_sorted`.

In [ ]:
films90s_sorted = films90s.sort_values('title')

Display the first `5` items in `films90s_sorted`

In [ ]:
films90s_sorted.head(5)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0101985,NaN,NaN,NaN,NaN,NaN,True,A Brighter Summer Day,1991,NOT RATED,25-Nov-11,237,"Crime, Drama, Romance",Edward Yang,"Hung Hung, Mingtang Lai, Alex Yang, Edward Yang","Mandarin, Min Nan, Shanghainese",Taiwan,8 wins & 12 nominations.,90.0,8.4,2872
tt0104008,NaN,NaN,NaN,NaN,NaN,True,A Tale of Winter,1992,NaN,29-Jan-92,114,Drama,_ric Rohmer,_ric Rohmer,French,France,2 wins & 1 nomination.,NaN,7.6,2574
tt0103634,NaN,NaN,NaN,NaN,NaN,True,Aileen Wuornos: The Selling of a Serial Killer,1992,R,4-Feb-94,87,"Documentary, Crime",Nick Broomfield,Nick Broomfield,English,UK,1 nomination.,NaN,7.0,1618
tt0099012,NaN,NaN,NaN,NaN,NaN,True,Alice,1990,PG-13,10-Jan-91,102,"Comedy, Fantasy, Romance",Woody Allen,Woody Allen,"English, Cantonese",USA,Nominated for 1 Oscar. Another 1 win & 5 nomin...,NaN,6.6,10644
tt0185125,NaN,NaN,NaN,NaN,NaN,True,All About My Mother,1999,R,31-Mar-00,101,Drama,Pedro Almod__var,Pedro Almod__var,"Spanish, Catalan","Spain, France",Won 1 Oscar. Another 56 wins & 37 nominations.,87.0,7.9,69368

Show the 90's films sorted in **descending** order by `imbd_votes`, displaying only the first 10

In [ ]:
films90s_by_votes = films90s.sort_values('imdb_votes', ascending=False)
films90s_by_votes.head(10)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0111161,72.0,NaN,22.0,NaN,NaN,True,The Shawshank Redemption,1994,R,14-Oct-94,142,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...",English,USA,Nominated for 7 Oscars. Another 18 wins & 30 n...,80.0,9.3,1711064
tt0137523,NaN,NaN,NaN,NaN,NaN,True,Fight Club,1999,R,15-Oct-99,139,Drama,David Fincher,"Chuck Palahniuk (novel), Jim Uhls (screenplay)",English,"USA, Germany",Nominated for 1 Oscar. Another 10 wins & 31 no...,66.0,8.8,1359025
tt0110912,94.0,95.0,16.0,NaN,True,True,Pulp Fiction,1994,R,14-Oct-94,154,"Crime, Drama",Quentin Tarantino,"Quentin Tarantino (story), Roger Avary (story)...","English, Spanish, French",USA,Won 1 Oscar. Another 60 wins & 65 nominations.,94.0,8.9,1334945
tt0109830,76.0,71.0,89.0,NaN,NaN,True,Forrest Gump,1994,PG-13,6-Jul-94,142,"Comedy, Drama",Robert Zemeckis,"Winston Groom (novel), Eric Roth (screenplay)",English,USA,Won 6 Oscars. Another 39 wins & 65 nominations.,82.0,8.8,1268383
tt0133093,NaN,NaN,NaN,NaN,True,True,The Matrix,1999,R,31-Mar-99,136,"Action, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski",English,USA,Won 4 Oscars. Another 33 wins & 43 nominations.,73.0,8.7,1233966
tt0114369,NaN,NaN,NaN,NaN,NaN,True,Se7en,1995,R,22-Sep-95,127,"Crime, Drama, Mystery",David Fincher,Andrew Kevin Walker,English,USA,Nominated for 1 Oscar. Another 25 wins & 34 no...,65.0,8.6,1039302
tt0102926,74.0,65.0,61.0,NaN,NaN,True,The Silence of the Lambs,1991,R,14-Feb-91,118,"Crime, Drama, Thriller",Jonathan Demme,"Thomas Harris (novel), Ted Tally (screenplay)",English,USA,Won 5 Oscars. Another 48 wins & 34 nominations.,84.0,8.6,900711
tt0120815,71.0,NaN,NaN,NaN,NaN,True,Saving Private Ryan,1998,R,24-Jul-98,169,"Action, Drama, War",Steven Spielberg,Robert Rodat,"English, French, German, Czech",USA,Won 5 Oscars. Another 74 wins & 74 nominations.,90.0,8.6,888014
tt0108052,8.0,9.0,49.0,NaN,NaN,True,Schindler's List,1993,R,4-Feb-94,195,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally (book), Steven Zaillian (scree...","English, Hebrew, German, Polish",USA,Won 7 Oscars. Another 71 wins & 33 nominations.,93.0,8.9,877500
tt0169547,NaN,NaN,38.0,NaN,NaN,True,American Beauty,1999,R,1-Oct-99,122,"Drama, Romance",Sam Mendes,Alan Ball,English,USA,Won 5 Oscars. Another 103 wins & 96 nominations.,86.0,8.4,827773

You should see that the most voted film (The Shawshank Redemption) has $1711064$ votes

**Q. Which 90's film received the second-most votes?**

In [ ]:
films90s_by_votes.iloc[1]['title']

'Fight Club'

Answer: Fight Club

**Q. Which 90's film received the twentieth-most votes?**

In [ ]:
films90s_by_votes.iloc[19]['title']

'Jurassic Park'

Answer: Jurassic Park